* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5 !important;
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

.form-floating > label {
  left: 70% !important;
}

/* start global classes */
.text-nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.supplies_color {
  color: #619ac8;
}

/* end global classes */
.details {
  background-color: #f6f6f6;
  border: 1px solid #e1e0e0;
  padding: 5px;
}

.tap_container .nav-tabs {
  background-color: #588b7c;
}

.tap_container .nav-tabs > li > .nav-link {
  color: #fff;
  margin-bottom: 0;
}

.tap_container .nav-tabs > li > .nav-link:focus {
  box-shadow: none !important;
  outline: none !important;
}

.tap_container .nav-tabs > li > .nav-link:not(.active):hover {
  border-color: transparent !important;
  background-color: #4e7d6f;
}

.tap_container .nav-tabs > li > .nav-link.active {
  background-color: #dcdcdc;
  border-color: transparent !important;
  color: #000;
  border-radius: 0;
}

.tap_container .tab-content {
  background-color: #dcdcdc;
  padding: 15px 10px 10px;
}

.tap_container .tab-content .tab-pane .store_content .more_data > a {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
}

.tap_container .tab-content .tab-pane .store_content .more_data > a > img {
  width: 30px;
}

/* end custom the taps */
h5.head_name {
  background-color: #d4d4d4;
}

.fabric_details {
  background-color: #f6f6f6;
  border: 1px solid #e1e0e0;
  padding: 5px;
}
.fabric_details .fabric_content {
  padding: 5px;
}

.show_data {
  border: 1px solid #cbcaca;
}

.show_data .view-data {
  min-height: 90px;
}

.show_data .status_data {
  padding: 7px;
  background-color: #edeaea;
}

.show_data .status_data .box-info {
  background-color: #fff;
  border-radius: 5px;
  padding: 4px 18px;
  border: 1px solid #bbbbbb;
}

.customers_content .details .inp_holder > input {
  background-color: #afeeee;
}
.customers_content .details .holder .form-floating > textarea {
  background-color: #afeeee;
}
.customers_content .details .holder .send {
  background-color: #afeeee;
  font-weight: 700;
}
.customers_content .details .buttons-line .btn_option {
  padding-left: 2px;
  display: flex;
  align-items: center;
  background-color: rgb(248, 232, 184);
  font-weight: 700;
  border: 1px solid rgb(237, 192, 66);
}
.customers_content .show_data .table-responsive .main-table tr {
  border-bottom: 1px solid #ccd4d4 !important;
}
.customers_content .show_data .table-responsive .main-table tr td {
  padding: 2px 10px;
  background-color: #e5e3e3;
}
.customers_content .show_data .table-responsive .main-table tr.blue-td td {
  background-color: #dcf5f5;
}
.customers_content .show_data .table-responsive .main-table tr.white-td td {
  background-color: #fff;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-responsive .main-table {
  border-radius: 7px;
  border: none !important;
  text-align: center;
}

.table-responsive .main-table * {
  border: none !important;
}

.table-responsive .main-table tr {
  border: none !important;
}

.table-responsive .main-table tr th {
  background-color: rgb(37, 135, 89);
  color: white;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  padding: 10px;
  border-left: 1px solid rgba(197, 195, 195, 0.6705882353) !important;
}

.table-responsive .main-table tr th:last-child {
  border-left: none !important;
}

.table-responsive .main-table tr td {
  background-color: #e4e2e2;
  font-size: 14px;
  padding: 10px;
  font-weight: 700;
  border-left: 1px solid rgba(197, 195, 195, 0.6705882353) !important;
}

.table-responsive .main-table tr td:last-child {
  border-left: none !important;
}/*# sourceMappingURL=main.css.map */