.customers_content {
  .details {
    .inp_holder {
      > input {
        background-color: #afeeee;
      }
    }
    .holder {
      .form-floating {
        > textarea {
          background-color: #afeeee;
        }
      }
      .send {
        background-color: #afeeee;
        font-weight: 700;
      }
    }
    .buttons-line {
      .btn_option {
        padding-left: 15px;
        padding-right: 25px;
        display: flex;
        white-space: nowrap;
        align-items: center;
        background-color: rgb(248 232 184);
        font-weight: 700;
        border: 1px solid rgb(237 192 66);
        font-size: 13px;
      }
    }
  }
  .show_data {
    .table-responsive {
      .main-table {
        tr {
          border-bottom: 1px solid #ccd4d4 !important;
          td {
            padding: 2px 10px;
            background-color: #e5e3e3;
          }
          &.blue-td {
            td {
              background-color: #dcf5f5;
            }
          }
          &.white-td {
            td {
              background-color: #fff;
            }
          }
        }
        
      }
    }
  }
}

