* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5 !important;
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

.form-floating>label {
  left: 70% !important;
}

.form-control {
  padding: 0.1rem 0.75rem !important;
}

/* start global classes */
.text-nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.supplies_color {
  color: #619ac8;
}
/* end global classes */

// input with different background color
.receipt_color {
  background-color: #36e18c !important;
}

.receipt_color2 {
  background-color: #45a779 !important;
}


.details {
  background-color: #f6f6f6;
  border: 1px solid #e1e0e0;
  padding: 5px;
}