* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif !important;
  background-color: #f5f5f5 !important;
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

// start edit Bootstrap Classes
.form-floating > label {
  left: 70% !important;
}

.form-control {
  padding: 0.1rem 0.75rem !important;
}

.form-select {
  padding: 0.1rem 0.75rem 0.1rem 0.75rem !important;
  background-position: left 6px center !important;
}
// end edit Bootstrap Classes

// start global classes
.text-nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.supplies_color {
  color: #619ac8;
}

.details {
  background-color: #f6f6f6;
  border: 1px solid #e1e0e0;
  padding: 4px;
}

.section_title {
  padding: 5px;
  background-color: #e7e4e4;
  text-align: center;
  margin-bottom: 0px;
  font-weight: bold;
}
//  end global classes

// start custom input with different background color
.receipt_color {
  background-color: #36e18c !important;
}

.receipt_color2 {
  background-color: #45a779 !important;
}
// end input with different background color
